.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/.swiftpm
/.idea
/.build-docs
/Documentation/.build/
/Documentation/.netlify/
/.vscode